<div id="events-timeline" class="p-24" fxLayout="row wrap">

    <div class="events-timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">

        <div class="profile-box add-post">

            <app-service-requests [isHome]=true></app-service-requests>
        </div>
    </div>

    <div class="events-timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="accent" dir="rtl" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">אירועי תשתית קרובים</div>
                <div class="more secondary-text">ראה עוד</div>
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="activities">
                    <div class="activity" fxLayout="column" fxLayoutAlign="right right"
                         *ngFor="let activity of timeline">
                        <div fxLayout="column" dir="rtl" >
                            <div dir="rtl">
                                <span class="username" dir="rtl">{{activity.user.name}}</span>
                                <span class="username" dir="rtl"> פרסם כי: </span>
                            </div>
                                <span class="message" dir="rtl"> {{activity.message}} </span>
                            <span class="time" dir="rtl">יתקיים ב: {{activity.time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

