<div class="navbar-top" [ngClass]="essentialsConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/OfekUnit.png">
        <span class="logo-text secondary-text">Cloud 324</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="essentialsConfig.layout.navbar.primaryBackground"
     essentialsPerfectScrollbar [essentialsPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="essentialsConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Ronen Pinhasov</div>
        <div class="h5 email hint-text mt-8">ronen@ofek324.com</div>
<!--        <div class="avatar-container" [ngClass]="essentialsConfig.layout.navbar.primaryBackground">-->
<!--            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">-->
<!--        </div>-->

    </div>

    <div class="navbar-content">
        <essentials-navigation class="material2" layout="vertical"></essentials-navigation>
    </div>

</div>
