<div id="academy-courses" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Catalog
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
               כאן תוכלו למצוא מגוון רחב של שירותים אותם, אנו מציעים עבורכם,
                במרחק לחיצה, תוכלו ליצור מכונות, לפתוח חסימות ולבצע שירותים באופן אוטומטי.
                אל תדאגו - אנחנו עדיין כאן בשבילכם במידה ותצטרכו עזרה.
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <app-highlighted-services [isHome]=false></app-highlighted-services>
    <!-- / CONTENT -->

</div>
