<div id="home-comp" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">cloud</mat-icon>
            <h1 dir="rtl" [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                שלום מתשתיות הנדסיות
            </h1>

            <h3 dir="rtl" [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                אנחנו מציאים לכם כאן את שירותנו, בעזרתכם ובעזרתינו,

                נוכל להביא ערך מבצעי טוב יותר ליחידת אופק.
            </h3>
        </div>
        <mat-icon>cloud</mat-icon>
    </div>

        <events-timeline [amountOfItems]=5></events-timeline>

    <app-highlighted-services [isHome]=true [amountOfItems]=6></app-highlighted-services>

    <div class="content p-24">
    </div>



</div>
